*{
    margin: 0px;
    padding: 0px;
}
img{
    position: relative;
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
table td{
    padding: 12px 15px;
    width: 20%;
    text-align: center;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}
h1{
    text-align: center;
}